<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Looks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <h4></h4>
    <div class="wrapper">
      <div class="header">
        <p>header</p>
      </div>
      <div class="main">
        <div class="content"><img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Golden_Retriever_Carlos_%2810581910556%29.jpg">
          <div class="text">
            <h4>name1</h4>
            <p>text1</p><span>READ MORE</span>
          </div>
        </div>
        <ol>
          <li><img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Golden_Retriever_Carlos_%2810581910556%29.jpg">
            <h4>name1</h4>
          </li>
        </ol>
      </div>
      <div class="footer">
        <p>p © 2020 My Company</p>
      </div>
    </div>
  </body>
</html>