doctype html
html(lang='en')
    include head.pug
    body
        .wrapper
            //.header

            .main
                include main/content.pug

                include main/list.pug

            //.footer
        script(src='/js/carousel.js')