doctype html
html(lang='en')
    include head.pug
    body
        .wrapper
            //.header

            .main
                include main/content.pug

                include main/list.pug

            .footer
                include footer/word_tag.pug
                script(src='/js/tag.js')

        script(src='/js/carousel.js')
