ol
    each dog_item in dogs_list ? dogs_list : []
        li
            a(href='/dog/' + dog_item.id title=dog_item.name)
                img(src=dog_item.img loading="lazy" width=68 alt=dog.name)
                h4 #{dog_item.name}