$pal1: #000;
$pal2: #f5f5f5;
$pal3 : #fff;

$mobile: 800px;

@mixin shadow1 {
  box-shadow: 2px 2px 3px $pal1;
  border-radius: 2px;
}

@mixin gr {
  grid-template-columns: 1fr 2fr;
  padding: 2%;
  grid-gap: 2%;
}

* {
  margin: 0;
}

html {
  background: $pal2;
  font-family: "Arial", sans-serif;
  letter-spacing: 0.00938em;
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;

  .main {
    display: grid;
    grid-template-columns: auto 20%;
    grid-gap: 12px;

    .content {
      display: grid;
      @include gr;

      @media screen and (max-width: $mobile) {
        grid-template-columns: unset;
        padding: 5%;
      }

      img {
        width: 100%;
        @include shadow1;
      }
      .text {
        p {
          max-height: 100px;
          transition: max-height 1s ease-out;
          overflow: hidden;
          -moz-transition: max-height 1s ease-out;
          -ms-transition: max-height 1s ease-out;
          -o-transition: max-height 1s ease-out;
          -webkit-transition: max-height 1s ease-out;

          &.show{
            max-height: 1000px;
          }
        }

        span {
          cursor: pointer;
          display: block;
          text-align: center;
          @include shadow1;
          padding: 2px;
          background: $pal3;
          transition: 0.1s ease-in-out;

          &:hover{
            background: $pal2;
          }

          &:after{
            content: "Read More";
          }
          &.show:after{
            content: "Read Less";
          }
        }
      }
    }

    ol {
      list-style: none;
      padding: 5%;
      li {
        a {
          background: $pal3;
          margin: 10px 0;
          display: grid;
          align-items: center;
          text-decoration: none;
          color: $pal1;
          transition: 0.1s ease-in-out;
          @include shadow1;
          @include gr;
          &:hover{
            background: $pal2;
          }
          img {
            width: 100%;
          }
          h4 {
            padding: 5px;
          }
        }
      }
    }

    @media screen and (max-width: $mobile) {
      grid-template-columns: unset;
    }
  }
}